{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "jsx-quotes": 0,
    "no-console": 2,
    "linebreak-style": 0,
    "eol-last": 1,
    "max-len": [2, {
      "code": 80,
      "ignorePattern": "^import .*"
    }],
    "id-length": [2, {
      "min": 2,
      "max": 30,
      "properties": "never",
      // i, j, k - Loop indexes
      // k, v - Key, Value
      // a, b - common parameter names in sorting comparison helper functions
      // e - exception
      "exceptions": ["i", "j", "k", "v", "a", "b", "e"]
    }],
    "import/no-extraneous-dependencies": [2, {"devDependencies": true}],
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-shadow": 0,
    "no-param-reassign": ["error", { "props": false }]
  }
}
