@import '../../styles/colors';

.movie-details {
  padding: 20px 35px;

  &__header {
    display: flex;
    justify-content: space-between;

    .search__icon {
      font-size: 18px;
      color: $red;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    margin-top: 20px;

    .info > div {
      padding-bottom: 10px;
    }

    img {
      min-width: 200px;
      max-width: 200px;
      height: 300px;
      margin-right: 40px;
    }

    .title {
      display: flex;
      font-size: 18px;
      text-transform: uppercase;
    }

    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -8px;
      margin-left: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid $white;
    }

    .genre {
      opacity: 0.6;
    }

    .duration {
      color: $red;
      font-size: 18px;
    }
    
    .runtime {
      margin-left: 10px;
    }

    .description {
      font-size: 16px;
      opacity: 0.6;
    }
  }
}
